html,
body,
#root {
  height: 100%;
}
* {
  background: #699dde;
}
.App {
  padding: 40px 0 0 0;
  margin: 0 auto;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
input {
  padding: 20px;
  margin: 0 auto;
  width: 300px;
  outline: none;
  background-color: #fff;
}
.App .data .row {
  width: 300px;
  padding: 14px;
  background: #333;
  color: #fff;
  margin: 12px 0 0 0;
}
